p{
    font-family: "Microsoft YaHei UI Light", serif;
    font-size: 1.5em;
    color:red;
}
div{
    font-family:monospace ;
    font-weight:900;
}
body{
    font-size :30px;
}
#f{
    font-style:italic;
    color:#882216;
}